.shadow{
	  /*-moz-box-shadow:    3px 3px 5px 6px #ccc;
  -webkit-box-shadow: 3px 3px 5px 6px #ccc;*/
  box-shadow:         5px 5px 5px #ccc;	
}

article#gallery img{
    display:inline-block;
    width:25%;
}

.selected{
    border-bottom-color:red;
    border-style:solid;
    border-width:medium;

}